<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.104.2" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="EPPlus" version="7.7.0" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="7.7.0" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="7.7.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.7.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.7.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.6.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.6.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.6.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="1.6.2" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.6.2" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="3.8.2" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.8.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="3.8.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NUnit" version="4.3.2" targetFramework="net472" />
  <package id="NUnit.Analyzers" version="4.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="5.0.0" targetFramework="net472" />
  <package id="RBush" version="4.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.23.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.23.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="134.0.6998.8800" targetFramework="net472" />
  <package id="Selenium.WebDriver.Extensions" version="4.1.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.3" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net472" />
  <package id="System.Memory" version="4.6.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="9.0.3" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net472" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>